@media print, (max-width: 1187px) {

    
    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .menu {
        position: fixed;
        z-index: 666;
        top: 0;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 83px 22px 46px;        
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        text-align: start;
        color: #333;
    }  
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #000; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #000;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    .menu_open header .close_btn {
        display: block;
        top: 12px;
        right: 20px;
        z-index: 999;
        position: absolute;
    }


    .header_right {
        margin-left: auto;
    }

    .duties_items > * {
        padding: 20px;
    }
    .duties_item-top {
        margin-left: 0;
    }
    .duties_item-icon {
        margin-right: 10px;
    }
    .advantages_items > * {
        padding: 20px;
    }
    .advantages_item-top {
        margin-left: 0;
    }
    .advantages_item-icon {
        margin-right: 10px;
    }
    .step_items > * {
        padding: 45px 15px 25px;
        margin-bottom: 45px;
    }
    .step_bottom {
        margin-top: 25px;
    }
    .about_items > * {
        padding: 18px;
    }
    .about .text_block {
        width: calc(100% - 60px);
    }
    .block_head {
        margin-bottom: 25px;
    }




}
