@media print, (max-width: 1023px) {
 
    .first_section-img {
        display: none;
    }
    .first_section-info {
        width: 100%;
    }
    .work_items > * {
        width: calc(100%/3 - 20px);
    }
    .work_text {
        font-size: 20px;
    }
    .title {
        font-size: 30px;
        padding-left: 45px;
    }
    .title:before {
        width: 35px;
        top: 20px;
    }
    .block_head .desc {
        font-size: 20px;
        padding-left: 45px;
    }
    .parts_items > * {
        width: calc(100%/3 - 20px);
    }
    .technic .swiper-container {
        padding-bottom: 70px;
    }
    .duties_items > * {
        width: calc(100%/2 - 20px);
    }
    .advantages_items > * {
        width: calc(100%/2 - 20px);
    }
    .step_items > * {
        width: calc(100%/2 - 20px);
    }
    .about_img {
        display: none;
    }
    .about_info {
        width: 100%;
    }
    .contacts_wrap {
        flex-direction: column;
    }
    .contacts_info {
        margin-bottom: 20px;
    }
    .map_wrap {
        width: 100%;
    }
    .step_bottom-text {
        font-size: 20px;
    }
    .technic_item-title {
        font-size: 25px;
    }
    header {
        margin-bottom: 80px;
    }



    

    
}
